<h1>List a space</h1>
<form action='/spaces' method='POST'>
    <label>Name: </label>
    <input type='text' name='name' id='name'><br>
    <label>Description: </label>
    <input type='text' name='description' id='desc'><br>
    <label>Price per night: </label>
    <input type='number' name='price' id='price'><br>
    <label>Start date: <label>
    <input type='date' name='start_date' id='start_date'><br>
    <label>End date: <label>
    <input type='date' name='end_date' id='end_date'><br>
    <input type='submit' value='Submit'>
</form>
  