<h1>Login to MakersBnB</h1>
<form method="POST" action="/login_attempt">
    <label for="email">Email Address:</label>
    <input type="text" name="email" id="email"/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>
    <input type="submit" />
</form>
  