<div>
  <h1>Request for <%= @request_data[:name] %></h1>
  <p><%= @request_data[:description] %></p>
  <p>From: <%= @request_data[:email] %></p>
  <p>Date: <%= @request_data[:date].to_s %></p>
</div>
