<h3>Book a Space</h3>
<% @spaces.each do |space| %>
  <div onclick="location.href='/spaces/<%= space.id %>'" style="cursor:pointer">
    <%= space.name %><br>
    <%= space.description %>
  </div>
------------------
<br>
<% end %>